<label for="menu_switch" class="menu fright">
    <svg viewBox="0 0 12 32" xmlns="http://www.w3.org/2000/svg">
        <g fill="none"  stroke-width="4" stroke-linecap="round">
        <path  d="M 4,8 L 8,8" />
        <path  d="M 4,16 L 8,16" />
        <path  d="M 4,24 L 8,24" />
        </g>
</svg></label>
<input type="checkbox" id="menu_switch" class="menu">
<ul class="menu">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>
