<!-- pagination -->
<footer class="section">
  <nav class="pagination is-small" role="navigation" aria-label="pagination">
    {{#if prev}}
    <a href="{{page_url prev}}" class="pagination-previous">Previous</a>
    {{/if}}
    {{#if next}}
    <a href="{{page_url next}}" class="pagination-next">Next page</a>
    {{/if}}
    <span>Seite {{page}} von {{pages}}</span>
  </nav>
</footer>
