<aside class="sidebar blocks">
  <!-- additional empty fields -->
  <div>
    <h1>Info</h1>
    <p>Multiple Elements can be added in this sidebar.</p>
  </div>
  <div>
    <h1>Universal Server</h1>
    <p>Joe Armstrong's best piece of code:</p>
    <pre><code>universal_server() ->
    receive
       {become, F} ->
           F()
    end.</code></pre>
  </div>
</aside>
