{{!< default}}
{{!-- Featured Post on main index only--}}

{{#is "home"}}
{{#get "posts" filter="featured:true" limit="1" as |featured_post|}}
{{#foreach featured_post}}
{{> post_hero}}
{{/foreach}}
{{/get}}
{{/is}}

{{!-- All Posts --}}
<article>
    <h2>Neuigkeiten:</h2>
    <section class="posts">
        {{#foreach posts}}
            {{> post_small}}
        {{/foreach}}
    </section>
</article>

{{!-- Pagination --}}
{{pagination}}
