<!DOCTYPE html>

<!--  table element -->
<div class="table-container">
  <table class="table is-striped is-fullwidth is-hoverable " style="table-layout: fixed;" desc-text="Tabel exsample">
    <thead>
      <tr>
        <th>h1</th>
        <th>h2</th>
        <th>h3</th>
        <th>h4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.0</td>
        <td>2.1</td>
        <td>3.2</td>
        <td>4.3</td>
      </tr>
      <tr>
        <td>one</td>
        <td>two</td>
        <td>three</td>
        <td>four</td>
      </tr>
      <tr>
        <td>q</td>
        <td>ewldj wekfjwpoo</td>
        <td>kdfja asdop</td>
        <td>asfasf</td>
      </tr>
    </tbody>
  </table>
</div>
