<!DOCTYPE html>

<!-- invisible Switch for Sidebar -->
<input type="checkbox" id="sidemenu_switch" class="menu">

<!-- Sidebar Container -->
<aside class="sidebar blocks">
  <!-- using tr.oauth to login -->
  <div>
    <h1>Login</h1>
    <div id="login">
      <button onclick="tr.net.login(OAuth,'first_id')">Login</button>
      <input id="load_oauth_cfg" type="file" style="display: none" onchange="load_cfg_file()" />
      <button onclick="document.getElementById('load_oauth_cfg').click();">Load Config</button>
    </div>
    <div id="loggedin" style="display: none;">
      <img id="login_user_img" class="circle four">
      <p id="login_user_name"></p>
      <p id="login_user_mail"></p>
      <button onclick="tr.net.refresh(OAuth);">Refresh</button>
      <button onclick="tr.net.logout(OAuth);">Logout</button>
    </div>
    <script defer>
      var OAuth = tr.net.init("O365");

      function load_cfg_file() {
        var File = document.getElementById("load_oauth_cfg").files[0];
        if (File) {
          tr.io.read(function(S,D){
            if(S==200)
              OAuth = tr.net.config(OAuth,D);
            else
              tr.popup.error("Loading OAuth Config",D);
          },File,OAuth);
          //tr.oauth.load_cfg_file(OAuth,File,function(S,D){
          //  if(S!=200)
          //    tr.popup.error("Loading OAuth Config",D);
          //});
        }
      }

      if(tr.net.logged_in(OAuth)){
        document.getElementById("login").style.display = "none";
        document.getElementById("loggedin").style.display = "block";
        document.getElementById("login_user_name").innerHTML = OAuth.id.name;
        document.getElementById("login_user_mail").innerHTML = OAuth.id.email;
        tr.oauth.get(OAuth,
          "https://graph.microsoft.com/v1.0/me/photo/$value",
          "blob",
          {"Content-Type": "image/jpg"},
          function (S,D){
            if (S=="200" && D!=null){
              const url = window.URL || window.webkitURL;
              const blobUrl = url.createObjectURL(D);
              document.getElementById("login_user_img").setAttribute("src", blobUrl);
            }
          });
      }
    </script>
  </div>

  <!-- additional empty fields -->
  <div>
    <h1>Info</h1>
    <p>Multiple Elements can be added in this sidebar.</p>
  </div>
  <div>
    <h1>Universal Server</h1>
    <p>Joe Armstrong's best piece of code:</p>
    <pre><code>universal_server() ->
    receive
       {become, F} ->
           F()
    end.</code></pre>
  </div>
</aside>

<!-- Script inside component -->
<script defer>
  console.log("sidebar ...");
</script>
